{
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "svelteAllowShorthand": true,
        "svelteStrictMode": true,
        "bracketSameLine": true,
        "svelteIndentScriptAndStyle": true
      }
    }
  ]
}
